@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #1cb5e0, #4a569d);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  flex-wrap: wrap-reverse;
  transition: 1s ease;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.title-container {
  width: 50%;
  color: white;
}

.title-container > h2 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.title-container > h4 {
  font-size: 24px;
  font-weight: 300;
}

.reset-btn {
  border: none;
  outline: none;
  background: white;
  padding: 10px 20px;
  color: #4a569d;
  font-size: 16px;
  margin-top: 30px;
  border-radius: 20px;
}

.reset-btn:hover {
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.3);
}

.players {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
  font-weight: 500;
  opacity: 1;
}

.players > div:nth-child(2) {
  opacity: 0.5;
}

.ttt-wrapper {
  width: 400px;
  height: 400px;
  object-fit: contain;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.row {
  width: 100%;
  height: 33%;
  display: flex;
}

.box {
  width: 33%;
  height: 100%;
  border: 0.5px solid rgb(154, 154, 154);
  cursor: pointer;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-1 .box {
  border-top: none;
}

.col-1 {
  border-left: none;
}

.row-3 .box {
  border-bottom: none;
}

.col-3 {
  border-right: none;
}

.round {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #e93cc3, #b81bf7);
  border-radius: 50%;
  position: relative;
  box-shadow: 0 10px 50px rgba(187, 72, 240, 0.5);
  animation: showUpRound 1s ease-in-out 1;
}

@keyframes showUpRound {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.round::after {
  position: absolute;
  content: "";
  width: 40%;
  height: 40%;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cross {
  width: 100%;
  height: 40%;
  background: linear-gradient(to right, #7474bf, #1cb5e0);
  position: relative;
  transform: rotate(45deg);
  box-shadow: 20px 10px 50px rgba(28, 181, 224, 0.6);
  animation: showUpCross 1s ease-in-out 1;
}

@keyframes showUpCross {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.cross::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #7474bf, #1cb5e0);
  transform: rotate(90deg);
}

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column-reverse;
  }
}
